<%- include('../partials/head'); %>
<div class="card text-center">
    <div class="container">
        <div class="row aling-items-start">
            <div class="col" padding-top="20px">
                <h2 class="m-5">THE WISKEY CLUB</h2>
                <h2>WELCOME</h2>
            </div>
            <div class="col" margin-top: -1px>
                <img src="/img_wishey2.webp" width="350" height="350" class="rounded mx-auto d-block" alt="img_wishey"/>
            </div>
        </div>

    </div>

    <div class="card-body">
       
       
        
       

        </div>
    </div>
</div>